
#home-page {
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    box-shadow: 1px 1px 20px 10px gainsboro;
  }
  
  #home-img {
      width: 50%;
  }
  
  #home-img img {
      max-width: 100%;
  }
  
  #home-button{
      width: 50%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      color: green;
  }
  
  #home-button button {
      background: none;
      border: 1px solid green;
      border-radius: 5px;
      padding: 5px;
      color: green;
  }
  