* {
  box-sizing: border-box;
}

#loader-preview {
  display: flex;
  justify-content: center;
}

#loader-container {
  width: 60%;
  height: 15px;
  background: green;
  border: 1px solid gray;
  border-radius: 15px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#loader-container #loader {
  width: 10%;
  height: 100%;
  background-color: white;
  transform: skewX(35deg);
  position: absolute;
  animation: loader 3s linear infinite;
}

@keyframes loader {
  0% {left : 0}
  100% {left : 100%}
}