.post-container {
    margin-top: 15px ;
    width: 250px;
    min-height: 250px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: 1px 1px 4px gray;
  }
  
  .post-container .post-header {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .post-container .post-header p {
    margin: 0;
    line-height: 10px;
  }
  
  .post-container .post-header p .name {
    font-size: 14px;
    font-weight: bold;
  }
  
  .post-container .post-header p .place {
    font-size: 12px;
    color: grey;
  }
  
  .post-container .post-header p .dot {
    font-size: 10px;
    font-weight: bolder;
  }
  
  .post-container .post-img {
    background-color: gainsboro;
    text-align: center;
    width: 100%;
    height : 150px;
    overflow: hidden;
  }
  
  .post-container .post-img img {
    max-height: 100%;
  }
  
  .post-footer .like-share-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
  }
  
  .post-footer .like-share-container .like-share-button {
    display: flex;
  }
  
  .post-footer .like-share-container .img-container {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
  
  .post-footer .like-share-container .img-container img {
    max-width: 100%;
  }
  
  .post-footer .like-share-container .date {
    font-size: 12px;
    color: rgb(61, 61, 61);
  }
  
  .post-footer .like {
    font-size: 10px;
    color: grey;
    padding-left: 10px;
  }
  
  .post-footer .description {
    margin: 0;
    font-size: 14px;
    padding: 5px 10px 10px;
    font-weight: bold;
  }
  
  